---
services:

  backend:
    build: ./backend
    ports:
      - "9090:9090"

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    depends_on:
      - backend
    environment:
      HS256_SECRET_FILE: file:/secrets/hs256-secret.txt
      RS256_PUBLIC_KEY: file:/secrets/rs256-public.pem
      ES256_PUBLIC_KEY: file:/secrets/es256-public.pem
      JWE_PRIVATE_KEY: file:/secrets/rsa-private.pem
    volumes:
      - ./secrets:/secrets
